<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934105443254-ajq2q6m9mq26e8krfr10a9b6q2ul7opf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934105443254-ajq2q6m9mq26e8krfr10a9b6q2ul7opf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>934105443254-21vofv8c3tpelllao280qrq5e2hg3obr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5LNGxFd3xb22QWMbVoGvQN21Pw-EsDfs</string>
	<key>GCM_SENDER_ID</key>
	<string>934105443254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.slatk.slatkapp</string>
	<key>PROJECT_ID</key>
	<string>dinapp-3eadd</string>
	<key>STORAGE_BUCKET</key>
	<string>dinapp-3eadd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934105443254:ios:b879ed4172cbee7d6eef17</string>
</dict>
</plist>